<div class="text-center pt-1">
  <h1 class="display-3 mt-4 mb-3 text-primary">ReadHer</h1>
     <p>She matters to you, she will probably matter to us.</p>
      <p class="btn btn-primary" <%= link_to "Share your crush", crushes_path, method: :post%> <p>
      <p class="btn btn-primary" <%= link_to "Your library", library_path(current_user)%> <p>
</div>

  <div class="container">
    <div class="row">
      <% @crushes.each do |n| %>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <p class="card-text"><%= n.created_at.to_formatted_s(:long)%></p>
                  <p class="card-text blockquote display-3"><%= n.quote %></p>
                  <p class="mb-1 text-muted"><em><%= n.book_title %></em>, <%= n.author_name%> (<%= n.author_country%>)</p>
                <div class="d-flex w-100 justify-content-between">
                  <a class = "btn btn-primary"<%= link_to "View", crush_path(n.id)%> </a>
                  <div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div><br>
        </div>
      <% end %>
    </div>
  </div>

</body>
</html>
