<div class="container-fluid   mx-auto text-center" >
  <h1 class="display-4 text-center mt-5 p-2" id="rubric_chapter">Partage ton crush !</h1>

  <div class="lead mb-5" id="rubric_chapter">Elle a compté pour toi ? Elle comptera sûrement pour nous</div>
</div>

<br>

<div class="container pb-4 mb-5">
  <%= form_tag crushes_path, :method => :post do  %>
  <div class="form-group">
    <%= text_field_tag('book_title', '', class:'form-control', required:'true', placeholder:"Titre du livre", autofocus: 'true', id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_name', '', class:'form-control', required:'true', placeholder:"Auteure", required:'true', id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('genre', '', class:'form-control', required:'true', placeholder:"Genre", required:'true', id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_country', '', class:'form-control', required:'true', placeholder:"Pays", required:'true', id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_area_tag('description', '', class:'form-control', required:'true', placeholder:"Pourquoi elle a compté pour toi ?", required:'true', id: "inputEmail")%>
  </div>
  <div class="form-group ">
    <%= text_field_tag('quote', '', class:'form-control', required:'true', placeholder:"Une citation qui t'a marqué.e", required:'true', id: "inputEmail")%>
  </div>
  <%= submit_tag "Publier", class: "btn btn-dark mt-4 justify-align-end", id:"btn-white" %>
</div>
<% end %>
