<div class="pricing-header px-3 py-3 pt-5  mx-auto text-center" >
  <h1 class="display-4">Share it !</h1>
  <p class="lead mb-5">You have read her ? Tell us everything about her !</p>
</div>

<br>

<div class="container pb-4 mb-5">
  <%= form_tag crushes_path, :method => :post do  %>
  <div class="form-group">
    <%= text_field_tag('book_title', '', class:'form-control', required:'true', placeholder:"Title of your crush", autofocus: 'true', :id =>"inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_name', '', class:'form-control', required:'true', placeholder:"Author", required:'true', :id =>"inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('genre', '', class:'form-control', required:'true', placeholder:"Genre", required:'true', :id =>"inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_country', '', class:'form-control', required:'true', placeholder:"Country", required:'true', :id =>"inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_area_tag('description', '', class:'form-control', required:'true', placeholder:"Description", required:'true', :id =>"inputEmail")%>
  </div>
  <div class="form-group ">
    <%= text_field_tag('quote', '', class:'form-control', required:'true', placeholder:"Quote", required:'true', :id =>"inputEmail")%>
  </div>
  <%= submit_tag "Submit", class: "btn btn-dark mt-4 justify-align-end", id:"btn-white" %>
</div>
<% end %>
