<div class="container-fluid   mx-auto text-center" >
  <h1 class="display-4 text-center mt-5 p-2" id="rubric_chapter">Partage ton coup de coeur !</h1>

  <div class="lead mb-5" id="rubric_chapter">Elle a compté pour toi ? Elle comptera sûrement pour nous.</div>
</div>

<br>


<div class="container pb-4 mb-5">
  <%= form_tag crushes_path, :method => :post do  %>

  <% if !!flash[:errors] %>
    <div id="error_explanation">
      <% flash[:errors].each do |e| %>
      <p><%= e %></p> 
      <% end %>
    </div>
  <% end %>

<br>

  <div class="form-group">
    <%= text_field_tag('book_title', '', class:'form-control invalid', placeholder:"Titre du livre", autofocus: 'true', id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_name', '', class:'form-control', placeholder:"Autrice", id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('genre', '', class:'form-control', placeholder:"Genre", id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_field_tag('author_country', '', class:'form-control', placeholder:"Pays", id: "inputEmail")%>
  </div>
  <div class="form-group">
    <%= text_area_tag('description', '', class:'form-control', placeholder:"Pourquoi a-t-elle compté pour toi ?", id: "inputEmail")%>
  </div>
  <div class="form-group ">
    <%= text_field_tag('quote', '', class:'form-control', placeholder:"Une citation qui t'a marqué.e", id: "inputEmail")%>
  </div>
  <%= submit_tag "Publier", class: "btn btn-dark mt-4 justify-align-end", id:"btn-white" %>
</div>
<% end %>
