<div class="container">

<br>
  <div class="card  mb-5">
    <h5 class="card-header" id="title-crush">
      <a> <%= @crush.book_title%> </a>
    </h5>
      <div class="card-body">
        <p class="card-author "> <%= @crush.user.first_name %> <%= @crush.user.last_name %></p>
        <div class="card-subtitle mt-2 mb-2 text-muted" id="kind_of_book"><%= @crush.genre %></div>
        <p class="card-quote">“<%= @crush.quote %>”</p>
        <p class="card-credit"><%= @crush.author_name %> (<%= @crush.author_country %>)</p>
        <p class="card-text"><%= @crush.description %><p>

        <hr>

        <% if current_user != @crush.user %>
        <ul class="nav nav-pills nav-fill mt-5">
          <li class="nav-item" >
             <%= link_to "Add to my library", crush_libraries_path(:id => @crush), method: :post, class: 'crush-link-btn', id: 'crush-link' %>
          </li>
          <% end %>
        <% if current_user && current_user != @crush.user %>
          <li class="nav-item" >
          <%= link_to "Who shared this ?", user_path(@crush.user), class: "crush-link-btn", id: "crush-link"%>
       </li>
        </ul>
          <% end %>

          <% if current_user == @crush.user %>
          <a class="crush-link-btn" id="crush-link" <%= link_to "Edit", edit_crush_path(@crush)%> </a>
          <a class="crush-link-btn" id="crush-link" <%= link_to "Delete", crush_path(@crush), method: :delete %> </a>
        <% end %>
      </div>
  </div>

  <ul class="list-group-flush ">
  <li class="list-group">
    <div class="container">
     <div class="row">
       <div class="col-sm-8">
         <div class="card">
           <div class="card-body">
             <h5 class="card-title">Add a Comment</h5>
             <%= form_tag crush_comments_path(@crush) do %>
             <div class="form-group">
               <%= text_area_tag :content, placeholder = "Add a comment here...", class: 'form-control no-border' %>
             </div>
               <%= submit_tag "Comment", class: 'btn btn-default btn btn-primary' %>
               <% end %>
           </div>
         </div>
       </div>
     </div>
    </div>
  </li>
  </ul>

  <% @comments.each do |n| %>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-12">
            <div class="card-body">
              <div class="card-subtitle mb-3 text-muted"><%= n.created_at.to_formatted_s(:long)%></div>
                <p class="card-text">“<%= n.body %>”</p>
                <p class="card-text"><%= n.user.first_name%></p>
              </div>
        </div>
      </div><br>
    </div>
<% end %>
