<html class="message">
<div class="container ">
  <div class="jumbotron bg-white card" id="square">
  <h2 class="card-title pb-2 text-left">Conversation avec <%= @receiver.pseudo %></h2>

      <ul class="col-sm-12 border rounded p-2">
        <% @messages.each do |message| %>
          <% if message.body %>
            <li>
              <div class="media">
                <%= image_tag user_avatar(current_user), alt: 'avatar', class:"align-self-start mr-3 pb-2 image-cropped", style:"width:64px ; height:64px " %>
                <div class="media-body">
                    <h5 class="mt-0 message_first_name"><%= message.user.pseudo %></h5>
                    <p class="text-muted"> <%= message.created_at.to_formatted_s(:long)%></p>
                    <p class="text-muted"> <%= message.body %></p>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="row ">
      <div class="col-8">
        <%= form_for [@conversation, @message] do |f| %>
          <div class="field " >
            <%= f.text_area :body, placeholder: "Ton message", class:"comment rounded-0" %>
          </div>
          <%= f.submit "Envoyer", id: "btn-send" %>
        <% end %>
      </div>
  </div>
</div>

</html>
