<html class="message">
<div class="container ">
  <div class="jumbotron bg-white card" id="square">
  <% if current_user == @sender %>
    <h2 class="card-title pb-2 text-left">Conversation avec <%= @receiver.pseudo %></h2>
  <% else %>
    <h2 class="card-title pb-2 text-left">Conversation avec <%= @sender.pseudo %></h2>
  <% end %>


      <ul class="col-sm-12 border rounded p-2">
        <% if @messages.count == 0 %>
          <p><p>
        <% else %>
        <% @messages[1..-3].each do |message| %>
            <li>
              <div class="media">
                <%= image_tag user_avatar(current_user), alt: 'avatar', class:"align-self-start mr-3 pb-2 image-cropped", style:"width:64px ; height:64px " %>
                <div class="media-body">
                    <h5 class="mt-0 message_first_name"><%= message.user.pseudo %></h5>
                    <p class="text-muted"> <%= message.created_at.to_formatted_s(:short)%></p>
                    <p class="text-muted"> <%= message.body %>
                </div>
              </div>
            </li>
        <% end %>
          <% if @messages[-2] != current_user.messages && @messages[-2].read? %>
            <div class="col-sm-12 rounded p-2">
              <div class="media">
                <%= image_tag user_avatar(current_user), alt: 'avatar', class:"align-self-start mr-3 pb-2 image-cropped", style:"width:64px ; height:64px " %>
                <div class="media-body">
                  <h5 class="mt-0 message_first_name"><%= @messages[-2].user.pseudo %></h5>
                  <p class="text-muted"> <%= @messages[-2].created_at.to_formatted_s(:short)%></p>
                  <p class="text-muted"> <%=@messages[-2].body %> <em>Lu<em></p>
                </div>
              </div>
            </div>
            <% else %>
            <div class="col-sm-12 rounded p-2">
              <div class="media">
                <%= image_tag user_avatar(current_user), alt: 'avatar', class:"align-self-start mr-3 pb-2 image-cropped", style:"width:64px ; height:64px " %>
                <div class="media-body">
                  <h5 class="mt-0 message_first_name"><%= @messages[-2].user.pseudo %></h5>
                  <p class="text-muted"> <%= @messages[-2].created_at.to_formatted_s(:short)%></p>
                  <p class="text-muted"> <%=@messages[-2].body %></p>
                </div>
              </div>
            </div>

          <% end %>
      </ul>
      <% end %>
    </div>


    <div class="row ">
      <div class="col-8">
        <%= form_for [@conversation, @message] do |f| %>
          <div class="field " >
            <%= f.text_area :body, placeholder: "Ton message", class:"comment rounded-0" %>
          </div>
          <%= f.submit "Envoyer", id: "btn-send" %>
        <% end %>
      </div>
  </div>
</div>

</html>
