<div class="container">
      <div class="row">
      <div class="col-sm-12 mx-auto mt-2">
      <div class="card p-4 mt-5 mb-5">
          <h2 class="card-title">Editer le profil</h2>
          <div class="row">
          <div class="col-md-6 p-4 mb-1">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                      <!-- avatar and active storage config -->
                        <div>
                          <!-- <% if resource.avatar.attached? %>
                          #    <%= image_tag resource.avatar%>
                          #    <% end %>-->
                          <%= image_tag user_avatar(current_user) %>
                        </div>
                        <%= f.label :avatar %><br />
                        <div class="field  mb-3 p-3 border" id="inputEmail">
                          <%= f.file_field :avatar %>
                        </div>

                        <div class="field ">
                          <%= f.label 'Pseudo', :class => "edit-form-text" %><br />
                          <%= f.text_field :pseudo, :class => "form-control", :id =>"inputEmail",  autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field ">
                          <%= f.label 'Prénom', :class => "edit-form-text" %><br />
                          <%= f.text_field :first_name, :class => "form-control", :id =>"inputEmail",  autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field">
                          <%= f.label "Nom",  :class => "edit-form-text" %><br />
                          <%= f.text_field :last_name, :class => "form-control", :id =>"inputEmail", autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field">
                          <%= f.label "Ville", :class => "edit-form-text" %><br />
                          <%= f.text_field :city, :class => "form-control", :id =>"inputEmail", autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field">
                          <%= f.label "Bio" , :class => "edit-form-text" %><br />
                          <%= f.text_area :description, :class => "form-control", :id =>"inputEmail", autofocus: true, autocomplete: "email" %>
                        </div>
                    </div>
                    <div class="col-md-6 p-4 mb-1">

                    <div class="field">
                      <%= f.label :email, :class => "edit-form-text"  %><br />
                      <%= f.email_field :email, :class => "form-control", :id =>"inputEmail", autofocus: true, autocomplete: "email" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :password, :class => "edit-form-text"%> <div id="info">(Laisse ce champ vide si tu ne souhaites pas modifier ton mot de passe)</div>
                      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :id =>"inputEmail" %>
                      <% if @minimum_password_length %>
                        <em id="info"><%= @minimum_password_length %> caractères minimum </em>
                      <% end %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation,  :class => "edit-form-text" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password",  :class => "form-control", :id =>"inputEmail"%>
                    </div>

                    <div class="field">
                      <%= f.label :current_password, :class => "edit-form-text" %> <br /><div id="info">(Nous avons besoin de ton mot de passe actuel pour confirmer tes modifications.)</div>
                      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :id =>"inputEmail" %>
                    </div>
                    </div>
                    </div>

                    <div class="actions ">
                          <%= f.submit "Mettre à jour", class: "btn btn-dark", id: "btn_update_profile"%>
                    </div>
                  <% end %>
                  </div>
                  <hr>

                  </div>
                  <div class="row col-sm-10 mx-auto mt-2 d-flex justify-align-content-center">
                    <div class="card col-md-6 p-4 mb-1">

                  <h3 class="card-title">Supprimer mon compte</h3>
                  <p>Insatisfait ?<%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Souhaitez-vous vraiment supprimer votre compte?" }, method: :delete , class: "btn btn-dark", id: "get_library_btn_sm" %></p>
                 <%= link_to "Retour", :back %>
      </div>  </div>
      </div>
</div>
