
<h1 class="display-4 text-center m-2 pt-4 pb-4" id="rubric_chapter">Inbox</h1>

<% if @conversations.blank? %>
  <div class="container text-center">
      <p> Aucun message <p>
  </div>

<% else %>

<div class="container">

  <div class="row card pt-3" id="square">
    <table class="table ml-2">
    <thead>
          <tr class="card-credit">
          <th scope="row">Contact</th>
          <th scope="row">Date</th>
          <th scope="row">Conversation</th>
          <th scope="row"></th>
          <th scope="row"></th>
          </tr>
    </thead>

    <% @conversations.each do |conversation| %>
      <tbody>
        <tr>
          <td>
            <% recipient = conversation.sender_id == current_user.id ? conversation.receiver : conversation.sender %>
            <%= link_to recipient.pseudo, user_path(recipient), class:"card-title text-dark"%>
          </td>
          <td class="card-subtitle">
            <%= conversation.created_at.to_formatted_s(:short)%>
          </td>
          <td class="card-quote"><%= conversation.messages.last.body.truncate(60) %></td>
          <td><%= link_to "Lire", conversation_messages_path(conversation), class:"crush-link-btn", id: "crush-link" %></td>
          <td><%= link_to "Supprimer", conversation_path(conversation), method: :delete, class:"crush-link-btn", id: "crush-link" %><td>
          <% end %>
        </tr>
    </tbody>
    <% end %>
  </table>
  </div>
</div>
