

<div class="container">
    <h1 class="display-4 text-center p-4" id="rubric_chapter">Reader  </h1>

<div class="d-flex justify-content-end">  
<% if current_user.id == @user.id %>
  <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn", id: "btn-white" %>
  <% end %>
</div>
  <div class="card p-4 mt-5 mb-5 border-0" id="square">
  <h2 class="card-title pl-2 pb-2">
  <a>Profile </a>
</h2>
  <div class="row">
  <div  class= "col-md-4 d-flex align-items-center justify-content-center "> <%= image_tag user_avatar(current_user), class:"image-cropped rounded", style:"width:200px" %> </div>
    <div class="col-md-7">
      <div class="card-body">
        <p class="card-author "> <%= @user.first_name %> <%= @user.last_name %></p>
        <p class="card-credit"><%= @user.city %></p>
        <p class="card-text"><%= @user.description %><p>

          <%= link_to "Library", library_path(@user.library), class: "btn btn-dark", id: "get_library_btn_sm" %>

          <%= link_to "Message #{@user.first_name}", conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post, class: "btn btn-dark", id: "get_library_btn_sm" %>

      </div>
    </div>
  </div>
</div>

<div class="card p-4 mt-5 mb-5 border-0" id="square" >
  <h2 class="card-title p-4"><a>Reading crushes</a></h2>
    <div class="row">
      <% @user.crushes.each do |n| %>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card" id="square" style="border:solid 1px #212e9b">
                <div class="card-body">
                 <div class="card-title"><%= n.book_title %></div>
                  <p class="card-text"></p>
                  <div class="card-subtitle mb-3 text-muted"><%= n.created_at.to_formatted_s(:long)%></div>
                    <p class="card-quote">“<%= n.quote %>”</p>
                    <p class="card-credit"><%= n.author_name%> (<%= n.author_country%>)</p>
                    <div class="d-flex w-100 justify-content-between">
                      <div>
                        <ul class="nav nav-pills nav-fill mt-3">
                            <li class="nav-item">
                                <a class="crush-link-btn" id="crush-link" <%= link_to "View", crush_path(n.id)%> </a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div><br>
        </div>
      <% end %>
    </div>
    </div>