
<div class="container">
<br>
<div class="card-body">
  <% if current_user.id == @user.id %>
<%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-dark", :id => "get_library_btn_sm"  %>
  <% end %>
</div>
<br>

  <div class="card p-4 mt-5 mb-5">
  <h2 class="card-title">
  <a>Profile</a>
</h2>
  <div class="row"> 
  <div class="col-md-4 mr-5"> <img src=""> </div>
    <div class="col-md-7">
      <div class="card-body">
        <p class="card-author "> <%= @user.first_name %> <%= @user.last_name %></p>
        <p class="card-credit"><%= @user.city %></p>
        <p class="card-text"><%= @user.description %><p>
        <%= link_to "Library", library_path(@user.library), class: "btn btn-dark", id: "get_library_btn_sm" %>
        <%= link_to "Message", class: "btn btn-dark ml-5", id: "btn-message" %>
    </div>
    </div>
    </div>
  </div>
</div>
