
<div class="container">
<br>
<div class="card-body">
  <% if current_user.id == @user.id %>
<%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-dark", :id => "btn-editprofile"  %>
  <% end %>
</div>
<br>
  <div class="card  mb-5">
    <h5 class="card-header" id="title-crush">
      <a>Profile</a>
    </h5>

      <div class="card-body">
        <p class="card-author "> <%= @user.first_name %> <%= @user.last_name %></p>
        <p class="card-credit"><%= @user.city %></p>
        <p class="card-text"><%= @user.description %><p>
        <%= link_to "Library", library_path(@user.library), class: "btn btn-dark", id: "get_library_btn_sm" %>
        <%= link_to "Message", class: "btn btn-dark", id: "btn-message" %>

    </div>
  </div>
</div>
