<p id="notice"><%= notice %></p>
<div class="container">
    <div class="card" id="show-card">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Book</th>
          <th>Author</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
      <% current_user.library.crushes.each do |crush| %>
        <tr>
          <td><strong><%= crush.book_title %></strong></td>
          <td><%= crush.author_name %></td>
          <td><%= crush.genre %></td>
          <td> <%= link_to "Remove from library", crush_library_path, :method=>:delete , :class => "btn  btn-dark px-0 ", :id => "btn-remove" %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
    <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight align-items-end" id="btn-right">
    <%= link_to 'Back', root_path , :class => "btn  btn-dark ", :id => "btn-signin-signup" %>
    </div>
    </div>
        </div>
</div>
