
<nav class="navbar navbar-expand-lg py-3">
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  </button>
  <a class="navbar-brand " href="#">
    <%=link_to(image_tag("logo_readher.png", class: "logo_navbar pr-2"), crushes_path)%>
  </a>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  <ul class="navbar-nav mr-auto text-center ">
  <li class="nav-item py-3 px-2 mx-1" >
      <%= link_to "Coups de cœur", crushes_path, class:"crush-btn" , anchor: "my_anchor"%>
  </li>

<<<<<<< HEAD
  <li class="nav-item ">
        <% if current_user %>
        <%= link_to "Inbox", conversations_path, class:"nav-link"%>
          <% end %>
=======
  <li class="nav-item py-3  mx-1">
        <%= link_to(image_tag("enveloppe-10-10.png", class: "box"), conversations_path)%>
>>>>>>> develop
    </li>


        <% if current_user == nil %>
          <li class="nav-item border  py-1 px-2 mx-2 d-flex justify-align-items">
          <%= link_to "Login", new_user_session_path, class:"nav-link" , id:"login"%>
          </li>
          <li class="nav-item border py-1 px-2 mx-2">
          <%= link_to "Crée ton compte", new_user_registration_path, class:"nav-link" %>
          </li>
        <% else %>

          <li class="nav-item py-2 px-2 mx-1">
          <%= link_to "Profil", user_path(current_user.id), class:"nav-link" %>
          </li>

        <li class="nav-item py-2 px-2 mx-1">
            <% if current_user %>
            <%= link_to  "Bibliothèque", library_path(current_user), class:"nav-link" %>
        </li>
            <% end %>

            <li class="nav-item border py-1 px-2 mx-2">
            <a <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %> </a>
        </li>
          <% end %>
</ul>
    <form class="form-inline my-2 d-flex justifiy-content-center">

    <li class="nav-item" id="form-place">

    <%= form_tag crushes_path, method: :get do %>
        <%= text_field_tag "term", params[:term], placeholder: "Une auteure ou un livre", class:"form-control border-0" %>
        <%= submit_tag 'Search!', class:"btn btn-outline-light mx-2", type:"submit"%>

    <% end %>
    </li>
    </form>

  </div>
</nav>

