<!DOCTYPE html>
<html>
  <head>
    <title>ReadHer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">

    <link rel="stylesheet" href="stylesheet/style.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
      <%= render 'layouts/navbar.html.erb' %>


  <div  class="alert_message text-center p-2 "><strong><%= flash[:success] %></strong></div>




    <%= yield %>
<br>
<br>
<br>
<footer>
  <div  class="container mt-5">
        <p class="float-right">
          <a href="#" class="footer-link"> ↑ Back to top</a>
        </p>

        <div class="text-footer">
            <div class="container">
                <div class="row py-2">
                    <div class="col-sm">
                        <b>ReadHer</b>
                        <br>Manifesto
                        <br>About us
                    </div>

                    <div class="col-sm">
                       <b>Support</b>
                       <br> Mentions Légales
                       <br> C.G.U.
                       <br> Politique de Confidentialité
                    </div>

                    <div class="col-sm">
                      <b>Contact</b>
                       <br>Email
                       <br>Facebook
                       <br>Twitter
                       <br>Instagram
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-self  p-1" id="footer-credit">Readher © Paris — 2019</div>
            </div>

            <br>

        </div>
    </div>

    </footer>
  </body>
</html>
