<!DOCTYPE html>
<html>
  <head>
    <title>ReadHer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">

    <!-- <link rel="stylesheet" href="stylesheet/style.css"> -->





    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand">

       <%=link_to(image_tag("logo_readher.png", class: "logo_navbar"), crushes_path)%></a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ml-3 mr-3 ">
                  <%= link_to "Crush", crushes_path, class:"nav-link"%>
              </li>

              <li class="nav-item mr-3">
                  <a class="nav-link" href="#">About</a>
              </li>

                    <% if current_user == nil %>
                      <li class="nav-item border ml-2 mr-2">
                      <%= link_to "Login", new_user_session_path, class:"nav-link" %>
                      </li>
                      <li class="nav-item border ">
                      <%= link_to "Create Account", new_user_registration_path, class:"nav-link" %>
                      </li>
                    <% else %>

                  <li class="nav-item">
                  <%= link_to "Profile", user_path(current_user.id), class:"nav-link" %>
                  </li>

                   <li class="nav-item">
                      <a <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link border" %> </a>
                  </li>


                    <% end %>

                    <li class="nav-item">
                        <% if current_user %>
                        <%= link_to "Your Library", library_path(current_user.library) , class:'nav-link'%> <a>
                    </li>
                        <% end %>


          </ul>

          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Find..." aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
    </nav>


  <div><%= flash[:success] %></div>


    <%= yield %>
<br>
<br>
<br>
<footer>
  <div  class="container mt-5">
        <p class="float-right">
          <a href="#" class="footer-link"> ↑ Back to top</a>
        </p>

        <div class="text-footer">
            <div class="container">
                <div class="row py-2">
                    <div class="col-sm">
                        <b>ReadHer</b>
                        <br>Manifesto
                        <br>About us
                    </div>

                    <div class="col-sm">
                       <b>Support</b>
                       <br> Mentions Légales
                       <br> C.G.U.
                       <br> Politique de Confidentialité
                    </div>

                    <div class="col-sm">
                      <b>Contact</b>
                       <br>Email
                       <br>Facebook
                       <br>Twitter
                       <br>Instagram
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-self  p-1" id="footer-credit">Readher © Paris — 2019</div>
            </div>

            <br>

        </div>
    </div>

</footer>


  </body>
</html>
