<!DOCTYPE html>
<html>
  <head>
    <title>ReadHer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">

    <link rel="stylesheet" href="stylesheet/style.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

      <%= render 'layouts/navbar.html.erb' %>
      <div  class="alert_message text-center p-2 "><strong><%= flash[:success] %></strong></div>





    <%= yield %>
<br>
<br>
<br>

  <%= render 'layouts/footer.html.erb' %>


    <script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>

  </body>
</html>
